/* General page styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #121212;
    min-height: 100vh;
    margin: 0;
    color: white;
}

/* Container styling */
.container {
    text-align: center;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

h1 {
    color: rgb(221, 178, 78);
    font-size: 2rem;
    margin-bottom: 10px;
}

.username {
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

.user-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

/* Form styling */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    background-color: #222;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input::placeholder {
    color: #888;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(195, 147, 36);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(221, 178, 78);
}

/* Social media link styling */
.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.links a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.links a:hover {
    color: rgb(221, 178, 78);
}
